beautifulsoup4==4.14.3
black==26.3.1
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
idna==3.11
mypy_extensions==1.1.0
numpy==2.4.3
numpy-typing-compat==20251206.2.4
optype==0.17.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
pygame==2.6.1
pytokens==0.4.1
requests==2.32.5
scipy==1.17.1
scipy-stubs==1.17.1.2
soupsieve==2.8.3
typing_extensions==4.15.0
urllib3==2.6.3
