beautifulsoup4==4.14.3
black==25.12.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
idna==3.11
mypy_extensions==1.1.0
numpy==2.3.5
numpy-typing-compat==20251206.2.3
optype==0.15.0
packaging==25.0
pathspec==1.0.1
platformdirs==4.5.1
pygame==2.6.1
pytokens==0.3.0
requests==2.32.5
scipy==1.16.3
scipy-stubs==1.17.0.0
soupsieve==2.8.1
typing_extensions==4.15.0
urllib3==2.6.3
